*{
  font-family:Poppins;
}

nav{
  position: relative;
  z-index: 99;
  width: 100%;
  background: #b2fce4;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .logo a{
  color: black;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #fcfcfc;
}

@media screen and (max-width: 970px) {
  .wrapper .btn{
    display: block;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
    transition: all 0.3s ease;
  }
  
}
nav input{
  display: none;
}

.body-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}
.body-text div{
  font-size: 45px;
  font-weight: 600;
}
.main {
  display: flex;
  /* height: 50vh; */
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 1px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 1);
  justify-content: center;
  align-items: center;
}

.infosection {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
  row-gap: 25px;
  background-color: #ffffff;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 1); 
}

.nameVR {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;

  position: absolute;
  width: 69px;
  height: 24px;
  left: 250px;
  top: 25px;
  margin: 10px;
  color: black;
}

.search {
  width: 100000%;
}

.h1search {
  font-size: small;
}

.navtextbox {
  width: 170px;
  /* padding-left: 70px; */
}

.footer {
  align-items: center;
  padding-top: 10px;
  height: 38px;
  text-align: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 1);
  background-color: #b2fce4;
  color: rgb(0, 0, 0);
}
.vertical-line {
  width: 2px; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  background-color: black; /* Adjust the color as needed */
  margin: 0 auto; /* Center the line horizontally */
}

.card-div {
  display: flex;
  flex-wrap:  wrap;
  row-gap: 20px;
  padding: 20px 36px 20px 20px;
  gap: 90px;
  align-items: stretch;
  border-radius: 10px;
}

.cards-each:hover {
  background-color: #b2fce4;
  transform: scale(1.1);
}


.cards-each {
  text-align: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.contact-card:hover{
  background-color: #b2fce4;
  transform: scale(1.1);
}

.cards-each>img {
  padding: 10px;
  max-height: 230px;
  max-width: 230px;
  height: auto;
  align-self: center;
  border-radius: 15px;
  object-fit: cover;
}

.main-img {
  height: 200px;
  width: 300px;
  max-width: 300px;
}


.contact-card {
  /* flex-basis: 225px; */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
  position: relative;
}

.contact-card>img {
  /* width: 100%; */
  max-height: 250px;
  max-width: 250px;
  height: auto;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card>h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group>img {
  height: 11px;
  margin-right: 8px;
}

.info-group>p {
  margin-block: 3px;
  font-size: 12px;
  color: #2B283A;
}

.class-button{
  border-radius: 15px;
  width: 250px;
  height: 50px;
  margin: auto;
  vertical-align: middle;
  background-color: FF5757;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}
span{
  text-align: center;
}
.card-badge{
    position: absolute;
    top: 26px;
    left: 26px;
    background-color: whitesmoke;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}


.btn:link,
.btn:visited{
  text-decoration: none;
  text-transform:uppercase;
  position:relative;
  top:0;
  left:0;
  padding:20px 40px;
  border-radius:100px;
  display:inline-block;
  transition: all .5s;
}

.btn-white{
  background:b2fce4;
  color:#000;
}

.btn:hover{
   box-shadow:0px 10px 10px rgba(0,0,0,0.2);
   transform : translateY(-3px);
}

.btn{
  background-color: #b2fce4;
}

.btn::after{
  content:"";
  text-decoration: none;
  text-transform:uppercase;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  border-radius:100px;
  display:inline-block;
  z-index:-1;
  transition: all .5s;
}

.btn-white::after {
    background: #b2fce4;
}

.btn-animation-1:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}